<div class="form-check">
  <input class="form-check-input" type="checkbox" id="genderCheck" (change)="onGenderChange($event)">
  <label class="form-check-label" for="genderCheck">
    Gender
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="cityCheck" (change)="onCityChange($event)">
  <label class="form-check-label" for="cityCheck">
    City
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="streetCheck" (change)="onStreetChange($event)">
  <label class="form-check-label" for="streetCheck">
    Street
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="emailCheck" (change)="onEmailChange($event)">
  <label class="form-check-label" for="emailCheck">
    Email
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="phoneCheck" (change)="onPhoneChange($event)">
  <label class="form-check-label" for="phoneCheck">
    Phone
  </label>
</div>
