<dx-data-grid
  id="gridContainer"
  [customizeColumns]="customizeColumns"
  [dataSource]="dataSource"
  [showBorders]="true"
>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="25"> </dxo-paging>
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="allowedPageSizes"
    [displayMode]="displayMode"
    [showInfo]="showInfo"
    [showNavigationButtons]="showNavButtons"
  >
  </dxo-pager>

</dx-data-grid>

<!--<dx-data-grid-->
<!--  [dataSource]="dataSource"-->
<!--  [remoteOperations]="true"-->
<!--  [allowColumnResizing]="true"-->
<!--  [columnAutoWidth]="true"-->
<!--  [showBorders]="true"-->
<!--  [showColumnLines]="true"-->
<!--  [showRowLines]="true"-->
<!--  [rowAlternationEnabled]="true"-->
<!--  [pager]="{ allowedPageSizes: allowedPageSizes, showPageSizeSelector: true }"-->
<!--&gt;-->
<!--  <dxo-paging [pageSize]="25"></dxo-paging>-->
<!--  <dxi-column dataField="picture.thumbnail" caption="Picture" [cellTemplate]="pictureTemplate"></dxi-column>-->
<!--  <dxi-column dataField="name" caption="Name" [cellTemplate]="nameTemplate"></dxi-column>-->
<!--  <dxi-column dataField="gender" caption="Gender"></dxi-column>-->
<!--  <dxi-column dataField="phone" caption="Phone"></dxi-column>-->
<!--  <dxo-detail [template]="detailTemplate"></dxo-detail>-->
<!--</dx-data-grid>-->

