<article>
  <nav>
    <app-filter-table
      class="d-flex justify-content-center"
      [options]="filterTableOptions"
      (valueChanged)="onChange($event)">
    </app-filter-table>
  </nav>

  <section>
    <dx-data-grid
      id="gridContainer"
      keyExpr="id.value"
      [dataSource]="users"
      [showBorders]="true"
      [rowAlternationEnabled]="true">

    <dxo-paging [pageSize]="25"> </dxo-paging>
    <dxi-column
      caption="Photo"
      dataField="picture.medium"
      dataType="string"
      [width]="100"
      [allowFiltering]="false"
      [allowSorting]="false"
      cellTemplate="cellTemplate">
    </dxi-column>

    <dxi-column dataField="fullName" dataType="string" [width]="130"></dxi-column>
    <dxi-column [visible]="queryOptions.gender" dataField="gender" dataType="string" [width]="70"></dxi-column>
    <dxi-column [visible]="queryOptions.phone" dataField="phone" [width]="130"></dxi-column>

    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

    <div *dxTemplate="let user of 'cellTemplate'">
      <img [src]="user.value" alt="profile-image">
    </div>

    <div *dxTemplate="let employee of 'detail'">
      <div class="master-detail-caption">{{'More information:'}}</div>
      <app-user-details [key]="employee.key" [queryOptions]="queryOptions"></app-user-details>
    </div>
    </dx-data-grid>
  </section>
</article>





